body{
    background-color: rgb(255, 233, 237);
}
.box1{
    width: 800px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
}
h1, h2{
    text-align: center;
    color: rgb(255, 105, 180);
    font-family: 'Arial', sans-serif;
    padding-top: 30px;
}
div.picture{
    text-align: center;
    margin-top: 30px;
}
div.yes-no-buttons{
    text-align: center;
}
.button1{
    width: 150px;
    height: 50px;
    background-color: rgb(255, 105, 180);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    margin: 20px;
}
.button1:hover{
    background-color: rgb(255, 20, 147);
}
.button2{
    width: 150px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    margin: 20px;
}
.button2:hover{
    background-color: rgb(105, 105, 105);
}